---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import EventDetails from '../components/EventDetails.astro';
import Schedule from '../components/Schedule.astro';
import Hotel from '../components/Hotel.astro';
import Activities from '../components/Activities.astro';
import Menu from '../components/Menu.astro';
import RSVP from '../components/RSVP.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Gray Family Gathering 2026">
	<Navbar />
	<main>
		<Hero />
		<About />
		<EventDetails />
		<Schedule />
		<Hotel />
		<Activities />
		<Menu />
		<RSVP />
	</main>
	<Footer />
</Layout>
